table.menu {
	margin-left: auto;
	margin-right: auto;
}

table.newsfeed {
	margin-left: auto;
	margin-right: auto;
}

td.menucell {
	padding: 10px;
	text-align: center;
}

h2.appinfo {
	text-align: center;
}
