
@font-face {
	font-family: sniglet;
	src: url('data/font/Sniglet-Regular.ttf');
}

body {
	background-image: url('data/airplane-mask.png');
}

center-text, h5.info {
	text-align: center;
}

h5.info {
	font-size: 12pt;
}

table.menu {
	margin-left: auto;
	margin-right: auto;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.icon {
	max-width: 128px;
	height: auto;
	content:  url('data/icon.svg');
}

img.screenshot {
	content: url('data/screenshot.png');
}

table.newsfeed {
	margin-left: auto;
	margin-right: auto;
	font-family: sniglet;
}

td.menucell {
	padding: 10px;
	text-align: center;
	font-family: sniglet;
	font-size: 14pt;
}

h2.appinfo {
	text-align: center;
	font-family: sniglet;
	font-size: 30pt;
}

h5.author:after {
	content: 'By Jordan Irwin (AntumDeluge)\ALogo by Petri Lummemaki';
	white-space: pre;
	font-family: sniglet;
}

h5.redirect:before {
	content: 'If you are not redirected, click the link below:';
	font-family: sniglet;
}
