[Desktop Entry]
Name=MyABCs
GenericName=MyABCs
Comment=Learn the English alphabet
Comment[en]=Learn the English alphabet
Comment[es]=Aprender el alfabeto Inglés
Comment[ru]=Изучение английского алфавита
Exec=myabcs
Icon=myabcs
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Languages;